@font-face {
  font-family: "bootsandspurs";
  src: url(../fonts/BootsAndSpurs.ttf);
}

header,
footer {
  background-color: #202020;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  position: relative;
  top: 50px;
  margin: 0px 0px 0px 0px;
  border-bottom: white solid 10px;
}

header a {
  color: #ffffff;
}

.cta {
  background-color: red;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 80px;
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-sale {
  background-color: limegreen;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 50px;
  text-transform: uppercase;
}

.cta-view {
  background-color: red;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 80px;
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-small {
  background-color: red;
  color: #fff;
  font-size: 1em;
  padding: 10px 50px;
  border-radius: 5px;
  text-transform: uppercase;
}

.reviews {
  background-color: lightgray;
}

.featured-products {
  background-color: #fbfbfb;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
  font-family: "bootsandspurs", Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  text-decoration: none;
  margin-left: 10px;
}

.product-list h2 {
  font-family: "Roboto", sans-serif;
}

/*Home page */

.header-background {
  background-image: url(../images/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.welcome_info {
  position: absolute;
  top: 100px;
  left: 150px;
  text-align: center;
}

.home-info,
.reviews_content {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
}

.home-info_image {
  border-radius: 100px;
  width: 50%;
  height: 50%;
}

.home-info > *,
.reviews_content > * {
  flex: 1;
}

.reviews {
  text-align: center;
  padding: 50px;
}

.reviews_content {
  text-align: left;
  margin: auto;
}

.reviews_content div {
  margin: 50px;
}

.reviews_name {
  display: block;
}

.review-images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

/*Contact page */
input,
textarea,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

/* navigation */

nav {
}

nav li {
  display: inline;
}

nav ul {
  padding: 0px;
}

nav a {
  padding: 10px;
}

a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

.adirondack-red {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
