@font-face {
  font-family: "bootsandspurs";
  src: url(../fonts/BootsAndSpurs.ttf);
}

header,
footer {
  background-color: #202020;
  color: #ffffff;
}

footer {
  text-align: center;
}

header a {
  color: #ffffff;
}

.cta {
  background-color: red;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5%;
}

.cta-sale {
  background-color: limegreen;
  font-size: 1.5em;
  border-radius: 5%;
}

.reviews {
  background-color: lightgray;
}

.featured-products {
  background-color: #fbfbfb;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
  font-family: "bootsandspurs", Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  text-decoration: none;
}

.product-list h2 {
  font-family: "Roboto", sans-serif;
}

/*Home page */

.review-images {
  border-radius: 50%;
}

.home-info_image {
  border-radius: 100px;
}

.header-background {
  background-image: url(../images/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-position-x: right;
  background-position-y: bottom;
}

/*Contact page */
input,
textarea,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

/* navigation */

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px;
}

nav a {
  padding: 10px;
}

a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
}
